In [13]:
import pandas as pd

p_df = pd.read_csv('./datasets/pakwheels_used_car_data_v02.csv')
p_df

,addref,city,assembly,body,make,model,year,engine,transmission,fuel,color,registered,mileage,price
0,7943732,Peshawar,NaN,Sedan,Toyota,Corolla,2013.0,1300.0,Manual,Petrol,Silver Metallic,Lahore,145000,2870000.0
1,7730314,Lahore,NaN,Sedan,Honda,City,2000.0,1300.0,Manual,Petrol,Blue,Lahore,230000,995000.0
2,7943737,Lahore,NaN,Sedan,Toyota,Yaris,2021.0,1300.0,Manual,Petrol,Super White,Punjab,60500,3585000.0
3,7943733,Lahore,NaN,Hatchback,Suzuki,Swift,2017.0,1300.0,Manual,Petrol,Grey,Islamabad,87000,2250000.0
4,7923484,Lahore,NaN,Sedan,Honda,Civic,2017.0,1800.0,Automatic,Petrol,Grey,Lahore,86000,4850000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77873,7775164,Daska,NaN,Sedan,Honda,Civic,2019.0,1800.0,Automatic,Petrol,Taffeta White,Islamabad,58000,5590000.0
77874,7772775,Abbottabad,Imported,Hatchback,Suzuki,Alto,2015.0,660.0,Automatic,Petrol,Brown,Islamabad,65000,2420000.0
77875,7773716,Faisalabad,Imported,Crossover,MG,HS,2021.0,1490.0,Automatic,Petrol,Arctic White,Un-Registered,5000,7500000.0
77876,7322377,Quetta,NaN,Sedan,Suzuki,Baleno,2005.0,1300.0,Manual,Petrol,Silver,Lahore,19000,1250000.0
77877,7770898,Mandi,Imported,Sedan,Toyota,Corolla,1998.0,1600.0,Automatic,Petrol,Black,Lahore,12345,1150000.0

In [14]:
p_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77878 entries, 0 to 77877
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   addref        77878 non-null  int64
 1   city          77878 non-null  object
 2   assembly      24189 non-null  object
 3   body          68974 non-null  object
 4   make          77878 non-null  object
 5   model         77878 non-null  object
 6   year          73099 non-null  float64
 7   engine        77875 non-null  float64
 8   transmission  77878 non-null  object
 9   fuel          76972 non-null  object
 10  color         76398 non-null  object
 11  registered    77878 non-null  object
 12  mileage       77878 non-null  int64
 13  price         77295 non-null  float64
dtypes: float64(3), int64(2), object(9)
memory usage: 8.3+ MB

In [16]:
p_df.isna().sum()

addref              0
city                0
assembly        53689
body             8904
make                0
model               0
year             4779
engine              3
transmission        0
fuel              906
color            1480
registered          0
mileage             0
price             583
dtype: int64

In [17]:
p_df.assembly.value_counts()

assembly
Imported    24189
Name: count, dtype: int64

In [19]:
p_df.loc[:,'assembly'] = p_df.assembly.fillna('Domestic')

In [20]:
p_df.body.value_counts()

body
Sedan                30193
Hatchback            25014
SUV                   5087
Crossover             2156
Mini Van              1337
Compact sedan          793
MPV                    786
Double Cabin           779
Van                    716
Micro Van              539
Pick Up                521
Compact SUV            476
Station Wagon          230
Coupe                   90
Truck                   86
High Roof               74
Convertible             47
Single Cabin            26
Off-Road Vehicles       12
Mini Vehicles            8
Compact hatchback        4
Name: count, dtype: int64

In [22]:
pre_p_df = p_df.dropna()

In [23]:
pre_p_df

,addref,city,assembly,body,make,model,year,engine,transmission,fuel,color,registered,mileage,price
0,7943732,Peshawar,Domestic,Sedan,Toyota,Corolla,2013.0,1300.0,Manual,Petrol,Silver Metallic,Lahore,145000,2870000.0
1,7730314,Lahore,Domestic,Sedan,Honda,City,2000.0,1300.0,Manual,Petrol,Blue,Lahore,230000,995000.0
2,7943737,Lahore,Domestic,Sedan,Toyota,Yaris,2021.0,1300.0,Manual,Petrol,Super White,Punjab,60500,3585000.0
3,7943733,Lahore,Domestic,Hatchback,Suzuki,Swift,2017.0,1300.0,Manual,Petrol,Grey,Islamabad,87000,2250000.0
4,7923484,Lahore,Domestic,Sedan,Honda,Civic,2017.0,1800.0,Automatic,Petrol,Grey,Lahore,86000,4850000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77873,7775164,Daska,Domestic,Sedan,Honda,Civic,2019.0,1800.0,Automatic,Petrol,Taffeta White,Islamabad,58000,5590000.0
77874,7772775,Abbottabad,Imported,Hatchback,Suzuki,Alto,2015.0,660.0,Automatic,Petrol,Brown,Islamabad,65000,2420000.0
77875,7773716,Faisalabad,Imported,Crossover,MG,HS,2021.0,1490.0,Automatic,Petrol,Arctic White,Un-Registered,5000,7500000.0
77876,7322377,Quetta,Domestic,Sedan,Suzuki,Baleno,2005.0,1300.0,Manual,Petrol,Silver,Lahore,19000,1250000.0
77877,7770898,Mandi,Imported,Sedan,Toyota,Corolla,1998.0,1600.0,Automatic,Petrol,Black,Lahore,12345,1150000.0

In [25]:
# 범주형 데이터 칼럼
object_columns = pre_p_df.select_dtypes(include=['object'])

# 결과 출력
display(object_columns)

,city,assembly,body,make,model,transmission,fuel,color,registered
0,Peshawar,Domestic,Sedan,Toyota,Corolla,Manual,Petrol,Silver Metallic,Lahore
1,Lahore,Domestic,Sedan,Honda,City,Manual,Petrol,Blue,Lahore
2,Lahore,Domestic,Sedan,Toyota,Yaris,Manual,Petrol,Super White,Punjab
3,Lahore,Domestic,Hatchback,Suzuki,Swift,Manual,Petrol,Grey,Islamabad
4,Lahore,Domestic,Sedan,Honda,Civic,Automatic,Petrol,Grey,Lahore
...,...,...,...,...,...,...,...,...,...
77873,Daska,Domestic,Sedan,Honda,Civic,Automatic,Petrol,Taffeta White,Islamabad
77874,Abbottabad,Imported,Hatchback,Suzuki,Alto,Automatic,Petrol,Brown,Islamabad
77875,Faisalabad,Imported,Crossover,MG,HS,Automatic,Petrol,Arctic White,Un-Registered
77876,Quetta,Domestic,Sedan,Suzuki,Baleno,Manual,Petrol,Silver,Lahore
77877,Mandi,Imported,Sedan,Toyota,Corolla,Automatic,Petrol,Black,Lahore

## 범주형 데이터 제외

In [26]:
# object 타입을 가진 칼럼들을 제외한 칼럼들 선택
pre_p_num_df = pre_p_df[pre_p_df.columns[~pre_p_df.columns.isin(object_columns)]]

In [27]:
pre_p_num_df

        addref    year  engine  mileage      price
0      7943732  2013.0  1300.0   145000  2870000.0
1      7730314  2000.0  1300.0   230000   995000.0
2      7943737  2021.0  1300.0    60500  3585000.0
3      7943733  2017.0  1300.0    87000  2250000.0
4      7923484  2017.0  1800.0    86000  4850000.0
...        ...     ...     ...      ...        ...
77873  7775164  2019.0  1800.0    58000  5590000.0
77874  7772775  2015.0   660.0    65000  2420000.0
77875  7773716  2021.0  1490.0     5000  7500000.0
77876  7322377  2005.0  1300.0    19000  1250000.0
77877  7770898  1998.0  1600.0    12345  1150000.0

[63370 rows x 5 columns]

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

features, targets = pre_p_num_df.iloc[:, :-1],pre_p_num_df.iloc[:, -1]

X_train, X_test, y_train, y_test = \
train_test_split(features, targets, test_size=0.2, random_state=124)

X_train, X_val, y_train, y_val = \
train_test_split(X_train, y_train, test_size=0.2, random_state=124)

l_r = LinearRegression()
l_r.fit(X_train, y_train)

LinearRegression()

In [41]:
import numpy as np
from sklearn.metrics import mean_squared_log_error, mean_squared_error, r2_score

def get_evaluation(y_test, prediction):
    MSE = mean_squared_error(y_test, prediction)
    RMSE = np.sqrt(MSE)
    # MSLE = mean_squared_log_error(y_test, prediction)
    # RMSLE = np.sqrt(mean_squared_log_error(y_test, prediction))
    R2 = r2_score(y_test, prediction)
    # print('MSE: {:.4f}, RMSE: {:.4f}, MSLE: {:.4f}, RMSLE: {:.4f}, R2: {:.4f}'\
    #       .format(MSE, RMSE, MSLE, RMSLE, R2))
    print('MSE: {:.4f}, RMSE: {:.4f}, R2: {:.4f}'\
          .format(MSE, RMSE, R2))

    # 데이터프레임 생성
    evaluation_df = pd.DataFrame({
        'MSE':[MSE], 
        'RMSE':[RMSE], 
        # 'MSLE':[MSLE],
        # 'RMSLE':[RMSLE],
        'R2':[R2],
    })

    return evaluation_df

In [42]:
prediction = l_r.predict(X_test)
first_lr_test = get_evaluation(y_test, prediction)

MSE: 14646732672425.7812, RMSE: 3827104.9989, R2: 0.4568

In [43]:
prediction = l_r.predict(X_val)
first_lr_val = get_evaluation(y_val, prediction)

MSE: 15715581258704.0664, RMSE: 3964288.2411, R2: 0.4496

In [44]:
from sklearn.preprocessing import PolynomialFeatures

features, targets = pre_p_num_df.iloc[:, :-1], pre_p_num_df.iloc[:, -1]

poly_features = PolynomialFeatures(degree=3).fit_transform(features)

X_train, X_test, y_train, y_test = \
train_test_split(poly_features, targets, test_size=0.2, random_state=0)

X_train, X_val, y_train, y_val = \
train_test_split(X_train, y_train, test_size=0.2, random_state=124)

l_r = LinearRegression()
l_r.fit(X_train, y_train)

LinearRegression()

In [47]:
import numpy as np
from sklearn.metrics import mean_squared_log_error, mean_squared_error, r2_score

def get_evaluation(y_test, prediction):
    MSE = mean_squared_error(y_test, prediction)
    RMSE = np.sqrt(MSE)
    # MSLE = mean_squared_log_error(y_test, prediction)
    # RMSLE = np.sqrt(mean_squared_log_error(y_test, prediction))
    R2 = r2_score(y_test, prediction)
    # print('MSE: {:.4f}, RMSE: {:.4f}, MSLE: {:.4f}, RMSLE: {:.4f}, R2: {:.4f}'\
    #       .format(MSE, RMSE, MSLE, RMSLE, R2))
    print('MSE: {:.4f}, RMSE: {:.4f}, R2: {:.4f}'\
          .format(MSE, RMSE, R2))

    # 데이터프레임 생성
    evaluation_df = pd.DataFrame({
        'MSE':[MSE], 
        'RMSE':[RMSE], 
        # 'MSLE':[MSLE],
        # 'RMSLE':[RMSLE],
        'R2':[R2],
    })

    return evaluation_df

In [48]:
prediction = l_r.predict(X_test)
first_poly_test = get_evaluation(y_test, prediction)

MSE: 6295554347490.7139, RMSE: 2509094.3281, R2: 0.7489

In [49]:
prediction = l_r.predict(X_val)
first_poly_val = get_evaluation(y_val, prediction)

MSE: 9535269733684.9258, RMSE: 3087923.2072, R2: 0.6161

In [50]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.model_selection import train_test_split

features, targets = pre_p_num_df.iloc[:, :-1], pre_p_num_df.iloc[:, -1]

X_train, X_test, y_train, y_test = \
train_test_split(features, targets, test_size=0.2, random_state=124)


X_train, X_val, y_train, y_val = \
train_test_split(X_train, y_train, test_size=0.2, random_state=124)


dt_r = DecisionTreeRegressor(random_state=124)
rf_r = RandomForestRegressor(random_state=124, n_estimators=1000)
gb_r = GradientBoostingRegressor(random_state=124)
xgb_r = XGBRegressor()
lgb_r = LGBMRegressor(n_estimators=100)

models = [dt_r, rf_r, gb_r, xgb_r, lgb_r]
for model in models:
    model.fit(X_train, y_train)
    prediction = model.predict(X_test)s
    print(model.__class__.__name__)
    get_evaluation(y_test, prediction)

DecisionTreeRegressor
MSE: 11988839360580.7168, RMSE: 3462490.3409, R2: 0.5554
RandomForestRegressor
MSE: 6828284811764.4795, RMSE: 2613098.6992, R2: 0.7468
GradientBoostingRegressor
MSE: 7707666942002.6641, RMSE: 2776268.5284, R2: 0.7142
XGBRegressor
MSE: 8925180745176.9688, RMSE: 2987504.0996, R2: 0.6690
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000134 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 632
[LightGBM] [Info] Number of data points in the train set: 40556, number of used features: 4
[LightGBM] [Info] Start training from score 3870497.410987
LGBMRegressor
MSE: 7309393192463.9121, RMSE: 2703588.9467, R2: 0.7289